<h1>StaticPages#about</h1>
<div id="page-content">
<p>
<strong>Nations' Service</strong>
is a collaborative website created by a group of young Princeton alumni who were frustrated by the seemingly limited career options presented to Princeton students through the traditional recruitment channels.
</p>
<p>
This site is an attempt to show graduating students and fellow alumni that there are more options that truly embody Princeton's motto of
<br>
<em>
<strong>"in the nation's service and the service of all nations."</strong>
</em>
</p>
<p>Nations' Service contains a variety of resources and job postings to encourage professional development in sectors that benefit society. We welcome alumni and students of other colleges and universities to take part in our community too!</p>
<p>
If you would like information or you would like to get involved,
<a href="/contact">contact us.</a>
</p>