<% provide(:title, 'Welcome') %>
<div class="center hero-unit">
  <p>Hello! Welcome to Nations' Service, a resource for students and alumni looking for a way to do well by doing good.</p>

  <p>
    This site is being developed so that it can be used as a free, collaborative resource for university students and alumni to explore a wide variety of career paths together, and to discuss alternatives to the seemingly limited options students see as they approach graduation.

If you have some ideas to share and want to help add to the site, join now and start contributing.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
