<% provide(:title, "Edit Position") %> 
<h1>Update this Position</h1>

<div class="row">
  <div class="span6 offset3" id="position-edit">
    <div class="row">
        <div id="edit-form" class="span5">
        <%= render 'position_form' %>
      </div>
    </div>
  </div>
</div>