<% provide(:title, "Edit Position") %> 
<h1>Update this Position</h1>

<div class="row">
  <div class="offset2 span8" id="position-edit">
    <div class="row">
        <div id="edit-form" class="span7">
        <%= render 'position_form', button_text: "Save Changes" %>
      </div>
    </div>
  </div>
</div>
