<%= provide(:title, 'Add new position') %>
<h1>New position</h1>

<div class="row">
  <div class="span8" id="position-edit">
    <div class="row">
        <div id="edit-form" class="span7">
        <%= render 'position_form', button_text: "Add Position" %>
      </div>
    </div>
  </div>
</div>
